*{
    font-family:poppins;}
body{
    margin: 0;
    padding: 0;
}

.navbar{
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background-color: white;
    display: flex;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    height: 70px;
    position: sticky;
    z-index: 10;
    top:0;
    
 }
 
 .logo{
    margin-left: 20px;
}
.logo img{
    margin-top: 0px;
    width: 120px;
}

.nav1{
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    margin-right: 20px;
}
.nav1 a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
     
}

.nav1a{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}
.nav1a:hover{
    filter: invert(52%) sepia(88%) saturate(5284%) hue-rotate(314deg) brightness(101%) contrast(98%);
}
.occ{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0px;
}

.occ:hover .dropdown{
    display: block;
}


.dropdown{
    transition: opacity 0.5s ease-out;
    position: absolute;
    width: 140px;
    height: 240px;
    background-color: rgb(223, 125, 193);
    display: none;
    left: 0;
    margin-right: 0px;
    top: 70px;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
}
.flw{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.flw:hover .dropdown2{
    display: block;
}
.dropdown2{
    transition: opacity 0.5s ease-out;
    position: absolute;
    width: 140px;
    height: 240px;
    background-color: rgb(223, 125, 193);
    display: none;
    left: 0;
    margin-right: 0px;
    top: 70px;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
}

.drop{
    width: 100%;
    height: 44px;
    margin-top: 3px;
    cursor: pointer;
    background-color: rgb(223, 125, 193);
    border: none;
    text-align: left;
}
.drop:hover{
    background-color: rgb(190, 90, 160);
}
.drop a{
    font-weight: bolder;
    font-size: 17px;
    color: white;
    margin-left: 15px;
}
.drop hr{
    float: left;
    width: 100px;
    margin-left:15px;
    margin-top: 0px;
}

.nav1b{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.dropdown3{
    transition: opacity 0.5s ease-out;
    position: absolute;
    width: 140px;
    height: 200px;
    background-color: rgb(223, 125, 193);
    display: none;
    right:0;
    margin-right: 0px;
    top: 70px;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
}


.nav1b:hover .dropdown3{
    display: block;
}
.nav1b:hover img{
    filter: invert(52%) sepia(88%) saturate(5284%) hue-rotate(314deg) brightness(101%) contrast(98%);
}
.pop{
    position: relative;
}
.dropdown4{
    transition: opacity 0.5s ease-out;
    position: absolute;
    width: 140px;
    height: 240px;
    background-color: rgb(223, 125, 193);
    display: none;
    right:0;
    margin-top: -70px;
    margin-right: 140px;
    top: 70px;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
}
.pop:hover .dropdown4{
    display: block;
}

.pop2{
    position: relative;
}
.dropdown5{
    transition: opacity 0.5s ease-out;
    position: absolute;
    width: 140px;
    height: 240px;
    background-color: rgb(223, 125, 193);
    display: none;
    right:0;
    margin-top: -70px;
    margin-right: 140px;
    top: 70px;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
}
.pop2:hover .dropdown5{
    display: block;
}
#menu{
    width: 30px;
}

.breadcrumb{
    margin-top: 30px;
    margin-left: 50px;
}
.breadcrumb a{
   color: black;
    font-size: 20px;
}
.title{
    width: 100%;
}
.title h1{
    margin-top: 10px;
    font-size: 40px;
    font-weight: lighter;
}

.titledesc{
    width: 92%;
}

.titledesc h1{
    margin-top: -30px;
 
    font-size: 19px;
    font-weight: lighter;
}

.main2{
    width: 100%;
}
.box{
    text-decoration: none;
    
    color: black;
}
.mag{
    margin-left: 50px;
}
.box :hover{
    color: #ff00fd;
}
.box img{
    border-radius: 10px;
    width: 350px;
    height: 350px;
    
    
    
}
.box img:hover{
    transition: 0.5s;
    transform:scale(1.1);
}

.item{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    font-size: 10px;
    gap: 70px;
}

.name1{
    width: 250px;
}
.name1 h1{
    font-size: 17px;
    font-weight: lighter;
}
#itmprc h1{
    font-size: 17px;
    font-weight: lighter;
    margin-top: -10px;
}


.main6{
    margin-top: 20px;
    display: flex;
    background-color: #161616;
    width: 100%;
    gap: 100px;
}

.logo2 img{
    width: 200px;
}
.footerlink{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footerlink a{
    margin-left: 20px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}
.footerlink a:hover{
    text-decoration: underline;
}

.b{
    font-weight: bold;
}
.footer2{
    margin-top: 125px;
}
.footer3{
    margin-top: 125px;
}

.socials img{
    width: 50px;
    filter: invert(99%) sepia(1%) saturate(4%) hue-rotate(349deg) brightness(101%) contrast(105%);
}


#map{
    height: 400px;
    width: 100%;
}

/*contact us*/
.contact{
    margin-top: -17px;
    width: 100%;
    height: 500px;
    background: linear-gradient(to right, #ff00fd 0%, #be3870 50%, #cfa7c9 100%);

}
.contact1a h1{
    color: white;
    font-family: cursive;
    font-size: 30px;
    margin-top: 40px;
    text-align: center;
}

.contact1b{
    display: flex;
    gap: 20px;
}

.contact1c{
    width: 30%;
    height: 200px;
    text-align: center;
    
    
    
}
.contact1c h1{
    margin-top: 0;
    color: white;
    font-family: cursive;
    font-size: 17px;
}
.contact1c h2{
    margin-top: 0;
    color: white;
    font-family: cursive;
    font-size: 15px;
}
.contact1c h3{
    margin-top: -10px;
    font-size: 13px;
    font-weight: lighter;
    color: white;
    font-family: cursive;
}
.contact1c a{
    margin-top: -10px;
    font-size: 13px;
    font-weight: lighter;
    color: white;
    font-family: cursive;
}
.log1{
    justify-content: center;
    display: flex;
}
.log{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #fa0493;
    border-radius: 50px;
}
.log img{
    width: 30px;
    height: 30px;
}

.xc{
    margin-top: 0;
}
.rchot{
    width: 100%;

}
.rchot1{
    width: 40%;
}

.rchot h1{
    font-size: 30px;
    font-weight: lighter;
}

.rchot h2{
    font-size: 17px;
    font-weight: lighter;
}

.inp{
    margin-top: 25px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #fa0493;
    font-size: 15px;
    text-indent: 10px;
}

.wd{
    margin-top: 25px;
    width: 100%;
    border-radius: 5px;
    border-width: 1px;
    border-color: #fa0493;
    font-size: 15px;
    text-indent: 10px;
    height: 100px;
 
    box-sizing: border-box;
}
.wd ::placeholder{
     vertical-align: top;
  /* add some padding to create space between the placeholder and the top */
    padding-top: 10px;
}
.tp{
    margin-top: -20px;
}

.ls{
    margin-top: 20px;
    width: 100px;
    height: 40px;
    border: none;
    color: white;
    background-color: #fa0493;
    border-radius: 5px;
    cursor: pointer;

}
@media screen and (max-width:540px){
    .main1{
        display: none;
    }
    .nav1a{
        display: none;
    }
    .occ{
        display: none;
    }
    .flw{
        display: none;
    }
    .cont{
        display: none;
    }
    .main{
        width: 540px;
        overflow: hidden;
    }
    .main6{
        display: block;
    }
    .footer2{
        margin-top: 10px;
    }
    .footer3{
        margin-top: 10px;
    }
    .socials{
        margin-top: 20px;
    }
    .mag{
        margin-left: 20px;
    }
    .box img{
        width: 150px;
        height: 150px;
    }
    #itmprc{
        width: 150px;
    }
    .name1{
        width: 150px;
    }
    .item{
        gap: 20px;
    }
}
@media screen and (max-width:430px){
    .main{
        width: 430px;
        overflow: hidden;
    }
}

@media screen and (max-width:414px){
    .main{
        width: 414px;
        overflow: hidden;
    }
   
}
@media screen and (max-width:390px){
    .main{
        width: 390px;
        overflow: hidden;
    }
   
}
@media screen and (max-width:375px){
    .main{
        width: 375px;
        overflow: hidden;
    }
   
}

@media screen and (max-width:360px){
    .main{
        width: 360px;
        overflow: hidden;
    }
   
}
@media screen and (max-width:280px){
    .main{
        width: 280px;
        overflow: hidden;
    }
}